<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAn_LTQLUD.Properties.Settings.PerfectAppConnectionString"
            connectionString="Data Source=DESKTOP-6RMHFM3;Initial Catalog=PerfectApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>